.text-muted{
    color: #aab0bc!important;
    font: 16px THICCCBOIMedium, sans-serif;
}

h3{
    font: 38px THICCCBOIBold, sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #343f52;
    word-spacing: 0.1rem;
    letter-spacing: -.01rem;
}

.bg-gradient-primary{
    background: linear-gradient(180deg,#fff8ef,rgba(255,255,255,0) 100%)!important;
}

.nav-padding
{
    padding: 20px 0px 0px;
}

.header{
    padding: 10vh;
}

.nav-transparent{
    background: transparent;
}

.text-yellow .lineal-fill {
    fill: #fcd49b;
}

.icon-svg.icon-svg-md {
    width: 2.6rem;
    height: 2.6rem;
}

.text-red .lineal-fill {
    fill: #eea1a6;
}

.lineal-fill, .text-primary .lineal-fill {
    fill: #fcd49b;
}

.text-green .lineal-fill {
    fill: #8fdcc6;
}

.text-blue .lineal-fill {
    fill: #8caeec;
}

.lineal-stroke {
    fill: #36496d;
}

.bg-light{
    --bs-bg-opacity: 1;
    background-color: rgba(254,254,254,var(--bs-bg-opacity))!important;
}

h1{
    color: #343f52;
    font-family: THICCCBOIBold, sans-serif !important;
    font-weight: 700;
}

p{
    color: #60697b;
    font: 17px THICCCBOI, sans-serif !important;
}

.btn-yellow{
    color: #fff;
    font: 17px THICCCBOIBold, sans-serif;
    background-color: #fab758;
    border-color: #fab758;
    padding: 15px 20px;
    transition: ease-in-out 0.2s;
}

.btn-yellow:hover{
    transform: translateY(-2px);
    color: #fff;
    box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.2);
}

.navbar-light .navbar-nav .nav-link{
    font: 17px THICCCBOIBold, sans-serif;
    color: #343f52;
    transition: ease-in-out 0.2s;
}
.dropdown-item{
    font: 15px THICCCBOIBold, sans-serif;
    color: #343f52;
    transition: ease-in-out 0.2s;
    margin-bottom: 1rem;
}

.nav-item{
    margin-right: 0.5rem;
}

.navbar-light .navbar-nav .nav-link:hover, .dropdown-item:hover{
    background: none;
    color: #fab758;
}

.dropdown-toggle::after{
    color: #fab758;
}

.double-column{
    display: flex;
    flex-direction: row;
}

.double-column-item{
    padding: 0 10px 10px;
}


@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}


@keyframes slideOut {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.slideOut {
    -webkit-animation-name: slideOut;
    animation-name: slideOut;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.dropdown-header, .offcanvas-column-header{
    font: 14px THICCCBOIBold, sans-serif;
    color: #fab758;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.border-right{
    border-right: 1px solid rgba(226, 227, 229, 0.75);
}

.dropdown-menu{
    position: absolute!important;
    z-index: 999999;
    display: none;
    min-width: 10rem;
    padding: 1rem 0 0;
    margin: 0;
    font-size: .75rem;
    color: #343f52;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    box-shadow: 0 0 1.25rem rgb(30 34 40 / 6%);
}
.dropdown-menu.language-select{
    min-width: 3rem;
    padding: 1rem;
}
.dropend .dropdown-toggle::after {
    position: absolute;
    margin-right: 0;
    right: 1rem;
    top: 0.5rem;
    font-size: .9rem;
    color: #343f52;
    transition: ease-in-out 0.2s;
}
.dropend:hover .dropdown-toggle::after{
    color: #fab758;
}
.navbar-nav.dropdown:not(.dropdown-submenu-button):hover>.dropdown-menu {
    top: 100%;
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    transition: all .25s ease-in-out;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-submenu-button {
    position: relative;
}

.dropdown-submenu-button > .dropdown-menu {
    top: 0;
    left: 105%;
}

button.hamburger {
    cursor: pointer;
    background: 0 0;
    border: 0;
    padding: 0;
    margin: 0 0 0 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #343f52;
    transition: all .2s ease-in-out;
}

.offcanvas-end{
    width: 20rem;
}

.offcanvas-start{
    width: 19rem;
}

.offcanvas-footer{
    padding: 1.5rem 1.5rem;
}

.close {
    background: rgba(98, 98, 98, 0.3);
    color: #fff;
    border-radius: 100%;

    padding: 1rem;
    font-size: 1.5rem;
    content: "\ed3b";
    width: 1.8rem;
    height: 1.8rem;
    margin: 0;
    box-shadow: none;
    transition: background .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover {
    color: #fff;
    background: rgba(98, 98, 98, 0.4);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: #cacaca;
    font: 1.1rem THICCCBOIMedium,sans-serif;
    visibility: hidden;
    background-color: #1e2228;
    background-clip: padding-box;
    outline: 0;
    box-shadow: none;
    transition: transform .3s ease-in-out;
    padding: 0.5rem;
}

.offcanvas-button{
    color: #cacaca;
    font: 1.1rem THICCCBOIMedium, sans-serif;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.list-unstyled>li{
    margin-bottom: 1rem;
}

.offcanvas-button:hover{
    color: #fab758;
}

.widget{
    margin-bottom: 3rem;
}

.social a:not(.btn-circle) {
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
    transform: translateY(0);
    color: #fff;
}

.social a:not(.btn-circle):hover {
    transform: translateY(-3px);
    color: rgba(255, 255, 255, 0.9);
}

.social>a {
    margin: 0 0.7rem 0 0;
}

.offcanvas p, .offcanvas address{
    color: #cacaca!important;
    font: 1.1rem THICCCBOIMedium, sans-serif;
    line-height: 2rem;
}

.offcanvas h4{
    color: #fff !important;
    font: 20px THICCCBOIBold, sans-serif;
    line-height: 2rem;
}

.offcanvas-body {
    padding: 1.5rem 1.5rem;
}

.offcanvas-header h3{
    font: 2.15rem THICCCBOIBold, sans-serif;
}

.accordion-button{
    border: none;
    background: none;
    color: #fff;
    font: 1.1rem THICCCBOIBold, sans-serif;
    padding: 1.1rem 0;
}

.accordion-button-primary{
    border: none;
    background: none;
    color: #343f52;
    font: 1.1rem THICCCBOIBold, sans-serif;
    padding: 1.1rem 0;
}

.accordion-item{
    background: none;
    border: none;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background: none;
    box-shadow: none;
    border: none;
}

.accordion-button-primary:not(.collapsed) {
    color: #fab758;
    background: none;
    box-shadow: none;
    border: none;
}

.card-header {
    padding: 0;
    margin-bottom: 0;
    background: none;
    border-bottom: none;
}

.card{
    border: none !important;
}

.accordion-button::after {
    background-image: none;
    font-family: Custom, serif;
    content: "\e900" !important;
}
.accordion-button-primary::before {
    background-image: none;
    font-family: Custom, serif;
    content: "\e900" !important;
    color: #fab758;
    font-size: 19px;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: rotate(-180deg);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(164,174,198,.2);
    border-radius: 0.4rem;
}

.card-body{
    padding: 40px;
}

.card h4{
    font: 20px THICCCBOIBold, sans-serif;
}
.card p{
    font: 17px THICCCBOI, sans-serif;
    line-height: 1.5rem;
    color: #60697b;
}

.more {
    font-weight: 700;
    letter-spacing: -.01rem;
    display: inline-block;
}

.more:after {
    line-height: 1;
    font-family: Custom, serif;
    content: "\e902";
    padding-left: 0.05rem;
    font-size: .85rem;
    font-weight: 400;
    vertical-align: -2px;
    margin-right: -0.25rem;
    display: inline-block;
}

.shadow-lg {
    box-shadow: 0 .25rem 1.75rem rgba(30,34,40,.07)!important;
}

.card a{
    text-decoration: none;
    transition: all .2s ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    font: 17px THICCCBOIBold, sans-serif;
    margin-top: 1rem;
}
a.hover::before {
    content: "";
    transform-origin: 100% 50%;
    transform: scale3d(0,1,1);
    transition: transform .3s cubic-bezier(.7,0,.2,1);
}

a.hover::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none
}

a.hover:hover:before {
    transform-origin: 0 50%;
    transform: scale3d(1,1,1);
    transition-timing-function: cubic-bezier(.4,1,.8,1)
}

a.hover-2 {
    position: relative;
    z-index: 1;
    padding: 0 .2rem .05rem
}

a.hover {
    position: relative;
    z-index: 1;
    padding: 0 .2rem .5rem
}

a.hover-2::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e0e9fa;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1
}

a.hover-2::before {
    content: "";
    transform-origin: 100% 50%;
    transform: scale3d(0,1,1);
    transition: transform .5s cubic-bezier(.7,0,.2,1)
}

a.hover-2:hover.link-body {
    color: inherit
}

a.hover-2:hover:before {
    transform-origin: 0 50%;
    transform: scale3d(1,1,1);
    transition-timing-function: cubic-bezier(.4,1,.8,1)
}

a.hover-3 {
    position: relative;
    padding: 0 .2rem .05rem;
    transition: color ease .3s;
    z-index: 1
}

a.hover-3:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -3px;
    background-color: #e0e9fa;
    transition: all .3s ease-in-out
}

a.hover-3:hover.link-body {
    color: inherit
}

a.hover-3:hover:before {
    height: calc(100% + 6px)
}

a.hover-3.more:before {
    bottom: -1px
}

a.hover-3.more:hover:before {
    height: calc(100% + 3px)
}

.link-yellow {
    color: #fab758;
}
.link-yellow:hover {
    color: #fab758;
}

.link-red {
    color: #e2626b;
}
.link-red:hover {
    color: #e2626b;
}

.link-green {
    color: #45c4a0;
}
.link-green:hover {
    color: #45c4a0;
}

.link-blue {
    color: #3f78e0;
}
.link-blue:hover {
    color: #3f78e0;
}
.bg-dot {
    background-size: 0.75rem 0.75rem;
}
.bg-dot {
    opacity: .4;
}
.bg-dot.primary {
    background-image: radial-gradient(#fab758 2px,transparent 2.5px);
}

.shape.rellax {
    z-index: 1;
}
.shape.rellax {
    position: absolute;
}
.bg-soft-blue {
    background-color: #f1f5fd!important;
}

@media (min-width: 576px) {
    .progress-wrap.active-progress {
        opacity:1
    }
}

.progress-wrap {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 3.3rem;
    height: 3.3rem;
    cursor: pointer;
    display: block;
    border-radius: 100%;
    box-shadow: inset 0 0 0 .1rem rgba(128,130,134,.25);
    z-index: 1010;
    opacity: 0;
    visibility: hidden;
    transform: translateY(.75rem);
    transition: all .2s linear,margin-right 0s;
}

@media (prefers-reduced-motion:reduce) {
    .progress-wrap {
        transition: none
    }
}

.progress-wrap.active-progress {
    visibility: visible;
    transform: translateY(0)
}

.progress-wrap:after {
    position: absolute;
    font-family: unicons-line, serif;
    content: "\ebb6";
    text-align: center;
    line-height: 3.3rem;
    font-size: 1.8rem;
    color: #fab758;
    /* left:0; */
    top: 0;
    height: 3.3rem;
    width: 3.3rem;
    cursor: pointer;
    display: block;
    z-index: 1;
    transition: all .2s linear;
}

@media (prefers-reduced-motion:reduce) {
    .progress-wrap:after {
        transition: none
    }
}

.progress-wrap svg path {
    fill: none
}

.progress-wrap svg.progress-circle path {
    stroke: #3f78e0;
    stroke-width: 4;
    box-sizing: border-box;
    transition: all .2s linear
}

@media (prefers-reduced-motion:reduce) {
    .progress-wrap svg.progress-circle path {
        transition: none
    }
}

@media (min-width: 576px) {
    .progress-wrap.active-progress {
        opacity:1
    }
}
.progress-list .progressbar.primary svg path:last-child, .progress-wrap svg.progress-circle path {
    stroke: #fab758;
}

.navbar-stick {
    transform: translateY(0)
}

.navbar-stick:not(.navbar-dark) {
    box-shadow: 0 0 1.25rem rgba(30,34,40,.06);
    background: rgba(255,255,255,.97)
}

.navbar.fixed:not(.extended) .topbar {
    display: none!important
}

.navbar.fixed .navbar-collapse-wrapper {
    background: 0 0!important;
    box-shadow: none!important
}

.navbar-clone {
    position: fixed!important;
    z-index: 1008;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all .3s ease-in-out,padding-right 0s
}

@media (prefers-reduced-motion:reduce) {
    .navbar-clone {
        transition: none
    }
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.padding-large{
    padding-top: 10rem;
}

.bg-gradient-reverse-primary {
    background: linear-gradient(0deg,#fff8ef,rgba(255,255,255,0) 100%)!important;
}

.btn-primary{
    background-color: #fab758;
    border-color: #fab758;
    padding: 10px 24px;
    transition: ease-in-out 0.2s;
    font: 17px THICCCBOIBold, sans-serif !important;
}

.btn-primary:hover,.btn-primary:active{
    background-color: #fab758 !important;
    border-color: #fab758 !important;
    box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.2);
}

.form-floating {
    position: relative;
}

.form-floating>.form-control,.form-floating>.form-select {
    height: calc(2.5rem + 2px);
    line-height: 1.25
}

.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: .6rem 1rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-floating>label {
        transition: none
    }
}

.form-floating>.form-control {
    padding: .6rem 1rem;
}

.form-floating>.form-control::-moz-placeholder {
    color: transparent
}

.form-floating>.form-control:-ms-input-placeholder {
    color: transparent
}

.form-floating>.form-control::placeholder {
    color: transparent
}

.form-floating>.form-control {
    padding-top: 1rem;
    padding-bottom: .2rem
}

.form-floating>.form-control:not(:-ms-input-placeholder) {
    padding-top: 1rem;
    padding-bottom: .2rem
}

.form-floating>.form-control:focus,.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1rem;
    padding-bottom: .2rem
}

.form-floating>.form-control:-webkit-autofill {
    padding-top: 1rem;
    padding-bottom: .2rem
}

.form-floating>.form-select {
    padding-top: 1rem;
    padding-bottom: .2rem
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    opacity: 1;
    transform: scale(.8) translateY(-.4rem) translateX(.2rem)
}

.form-floating>.form-control:not(:-ms-input-placeholder)~label {
    opacity: 1;
    transform: scale(.8) translateY(-.4rem) translateX(.2rem)
}

.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label {
    opacity: 1;
    transform: scale(.8) translateY(-.4rem) translateX(.2rem)
}

.form-floating>.form-control:-webkit-autofill~label {
    opacity: 1;
    transform: scale(.8) translateY(-.4rem) translateX(.2rem)
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

.input-group>.form-control,.input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0
}

.input-group>.form-control:focus,.input-group>.form-select:focus {
    z-index: 3
}

.input-group .btn {
    position: relative;
    z-index: 2
}

.input-group .btn:focus {
    z-index: 3
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .6rem 1rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.7;
    color: #60697b;
    text-align: center;
    white-space: nowrap;
    background-color: #f6f7f9;
    border: 1px solid rgba(8,60,130,.07);
    border-radius: .4rem
}

.input-group-lg>.btn,.input-group-lg>.form-control,.input-group-lg>.form-select,.input-group-lg>.input-group-text {
    padding: .65rem 1.4rem;
    font-size: .85rem;
    border-radius: .4rem
}

.input-group-sm>.btn,.input-group-sm>.form-control,.input-group-sm>.form-select,.input-group-sm>.input-group-text {
    padding: .4rem .6rem;
    font-size: .7rem;
    border-radius: .4rem
}

.input-group-lg>.form-select,.input-group-sm>.form-select {
    padding-right: 3rem
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group.has-validation>.dropdown-toggle:nth-last-child(n+4),.input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.form-floating label{
    font: 15px THICCCBOIMedium, sans-serif;
    color: #b6b4b4;
}

.form-floating:focus{
    border: 1px solid #fab758;
}

.btn-soft-primary {
    background-color: #ffedd5;
    color: #fab758;
    padding: 1.5rem !important;
    font: 17px THICCCBOIBold;
}


.btn.btn-circle .number {
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: THICCCBOIBold, sans-serif;
}

.btn-circle{
    border-radius: 100%;
}

.btn-group-lg>.btn.btn-circle, .btn.btn-circle.btn-lg {
    width: 3rem;
    height: 3rem;
    font-size: calc(1.255rem + .06vw);
}

.wrapper.bg-light.angled.lower-start:after, .wrapper.bg-light.angled.upper-start:before {
    border-left-color: #fefefe;
}

.wrapper.angled.upper-start:before {
    border-left-color: transparent;
    border-left-width: 100vw;
    border-top-width: 4rem;
    top: -4rem;
}

.wrapper.angled:after, .wrapper.angled:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 0;
    border: 0 solid transparent;
}


.wrapper.bg-blue.angled.lower-start:after,.wrapper.bg-blue.angled.upper-start:before {
    border-left-color: #3f78e0
}

.wrapper.bg-blue.angled.lower-end:after,.wrapper.bg-blue.angled.upper-end:before {
    border-right-color: #3f78e0
}

.wrapper.bg-soft-blue.angled.lower-start:after,.wrapper.bg-soft-blue.angled.upper-start:before {
    border-left-color: #f1f5fd
}

.wrapper.bg-soft-blue.angled.lower-end:after,.wrapper.bg-soft-blue.angled.upper-end:before {
    border-right-color: #f1f5fd
}

.wrapper.bg-pale-blue.angled.lower-start:after,.wrapper.bg-pale-blue.angled.upper-start:before {
    border-left-color: #e0e9fa
}

.wrapper.bg-pale-blue.angled.lower-end:after,.wrapper.bg-pale-blue.angled.upper-end:before {
    border-right-color: #e0e9fa
}

.wrapper.bg-sky.angled.lower-start:after,.wrapper.bg-sky.angled.upper-start:before {
    border-left-color: #5eb9f0
}

.wrapper.bg-sky.angled.lower-end:after,.wrapper.bg-sky.angled.upper-end:before {
    border-right-color: #5eb9f0
}

.wrapper.bg-soft-sky.angled.lower-start:after,.wrapper.bg-soft-sky.angled.upper-start:before {
    border-left-color: #f3fafe
}

.wrapper.bg-soft-sky.angled.lower-end:after,.wrapper.bg-soft-sky.angled.upper-end:before {
    border-right-color: #f3fafe
}

.wrapper.bg-pale-sky.angled.lower-start:after,.wrapper.bg-pale-sky.angled.upper-start:before {
    border-left-color: #e5f4fd
}

.wrapper.bg-pale-sky.angled.lower-end:after,.wrapper.bg-pale-sky.angled.upper-end:before {
    border-right-color: #e5f4fd
}

.wrapper.bg-purple.angled.lower-start:after,.wrapper.bg-purple.angled.upper-start:before {
    border-left-color: #747ed1
}

.wrapper.bg-purple.angled.lower-end:after,.wrapper.bg-purple.angled.upper-end:before {
    border-right-color: #747ed1
}

.wrapper.bg-soft-purple.angled.lower-start:after,.wrapper.bg-soft-purple.angled.upper-start:before {
    border-left-color: #f5f5fc
}

.wrapper.bg-soft-purple.angled.lower-end:after,.wrapper.bg-soft-purple.angled.upper-end:before {
    border-right-color: #f5f5fc
}

.wrapper.bg-pale-purple.angled.lower-start:after,.wrapper.bg-pale-purple.angled.upper-start:before {
    border-left-color: #e9eaf8
}

.wrapper.bg-pale-purple.angled.lower-end:after,.wrapper.bg-pale-purple.angled.upper-end:before {
    border-right-color: #e9eaf8
}

.wrapper.bg-grape.angled.lower-start:after,.wrapper.bg-grape.angled.upper-start:before {
    border-left-color: #605dba
}

.wrapper.bg-grape.angled.lower-end:after,.wrapper.bg-grape.angled.upper-end:before {
    border-right-color: #605dba
}

.wrapper.bg-soft-grape.angled.lower-start:after,.wrapper.bg-soft-grape.angled.upper-start:before {
    border-left-color: #f3f3fa
}

.wrapper.bg-soft-grape.angled.lower-end:after,.wrapper.bg-soft-grape.angled.upper-end:before {
    border-right-color: #f3f3fa
}

.wrapper.bg-pale-grape.angled.lower-start:after,.wrapper.bg-pale-grape.angled.upper-start:before {
    border-left-color: #e6e5f4
}

.wrapper.bg-pale-grape.angled.lower-end:after,.wrapper.bg-pale-grape.angled.upper-end:before {
    border-right-color: #e6e5f4
}

.wrapper.bg-violet.angled.lower-start:after,.wrapper.bg-violet.angled.upper-start:before {
    border-left-color: #a07cc5
}

.wrapper.bg-violet.angled.lower-end:after,.wrapper.bg-violet.angled.upper-end:before {
    border-right-color: #a07cc5
}

.wrapper.bg-soft-violet.angled.lower-start:after,.wrapper.bg-soft-violet.angled.upper-start:before {
    border-left-color: #f8f5fb
}

.wrapper.bg-soft-violet.angled.lower-end:after,.wrapper.bg-soft-violet.angled.upper-end:before {
    border-right-color: #f8f5fb
}

.wrapper.bg-pale-violet.angled.lower-start:after,.wrapper.bg-pale-violet.angled.upper-start:before {
    border-left-color: #f0eaf6
}

.wrapper.bg-pale-violet.angled.lower-end:after,.wrapper.bg-pale-violet.angled.upper-end:before {
    border-right-color: #f0eaf6
}

.wrapper.bg-pink.angled.lower-start:after,.wrapper.bg-pink.angled.upper-start:before {
    border-left-color: #d16b86
}

.wrapper.bg-pink.angled.lower-end:after,.wrapper.bg-pink.angled.upper-end:before {
    border-right-color: #d16b86
}

.wrapper.bg-soft-pink.angled.lower-start:after,.wrapper.bg-soft-pink.angled.upper-start:before {
    border-left-color: #fcf4f6
}

.wrapper.bg-soft-pink.angled.lower-end:after,.wrapper.bg-soft-pink.angled.upper-end:before {
    border-right-color: #fcf4f6
}

.wrapper.bg-pale-pink.angled.lower-start:after,.wrapper.bg-pale-pink.angled.upper-start:before {
    border-left-color: #f8e7ec
}

.wrapper.bg-pale-pink.angled.lower-end:after,.wrapper.bg-pale-pink.angled.upper-end:before {
    border-right-color: #f8e7ec
}

.wrapper.bg-fuchsia.angled.lower-start:after,.wrapper.bg-fuchsia.angled.upper-start:before {
    border-left-color: #e668b3
}

.wrapper.bg-fuchsia.angled.lower-end:after,.wrapper.bg-fuchsia.angled.upper-end:before {
    border-right-color: #e668b3
}

.wrapper.bg-soft-fuchsia.angled.lower-start:after,.wrapper.bg-soft-fuchsia.angled.upper-start:before {
    border-left-color: #fdf4f9
}

.wrapper.bg-soft-fuchsia.angled.lower-end:after,.wrapper.bg-soft-fuchsia.angled.upper-end:before {
    border-right-color: #fdf4f9
}

.wrapper.bg-pale-fuchsia.angled.lower-start:after,.wrapper.bg-pale-fuchsia.angled.upper-start:before {
    border-left-color: #fbe7f3
}

.wrapper.bg-pale-fuchsia.angled.lower-end:after,.wrapper.bg-pale-fuchsia.angled.upper-end:before {
    border-right-color: #fbe7f3
}

.wrapper.bg-red.angled.lower-start:after,.wrapper.bg-red.angled.upper-start:before {
    border-left-color: #e2626b
}

.wrapper.bg-red.angled.lower-end:after,.wrapper.bg-red.angled.upper-end:before {
    border-right-color: #e2626b
}

.wrapper.bg-soft-red.angled.lower-start:after,.wrapper.bg-soft-red.angled.upper-start:before {
    border-left-color: #fdf3f4
}

.wrapper.bg-soft-red.angled.lower-end:after,.wrapper.bg-soft-red.angled.upper-end:before {
    border-right-color: #fdf3f4
}

.wrapper.bg-pale-red.angled.lower-start:after,.wrapper.bg-pale-red.angled.upper-start:before {
    border-left-color: #fae6e7
}

.wrapper.bg-pale-red.angled.lower-end:after,.wrapper.bg-pale-red.angled.upper-end:before {
    border-right-color: #fae6e7
}

.wrapper.bg-orange.angled.lower-start:after,.wrapper.bg-orange.angled.upper-start:before {
    border-left-color: #f78b77
}

.wrapper.bg-orange.angled.lower-end:after,.wrapper.bg-orange.angled.upper-end:before {
    border-right-color: #f78b77
}

.wrapper.bg-soft-orange.angled.lower-start:after,.wrapper.bg-soft-orange.angled.upper-start:before {
    border-left-color: #fef6f5
}

.wrapper.bg-soft-orange.angled.lower-end:after,.wrapper.bg-soft-orange.angled.upper-end:before {
    border-right-color: #fef6f5
}

.wrapper.bg-pale-orange.angled.lower-start:after,.wrapper.bg-pale-orange.angled.upper-start:before {
    border-left-color: #feece9
}

.wrapper.bg-pale-orange.angled.lower-end:after,.wrapper.bg-pale-orange.angled.upper-end:before {
    border-right-color: #feece9
}

.wrapper.bg-yellow.angled.lower-start:after,.wrapper.bg-yellow.angled.upper-start:before {
    border-left-color: #fab758
}

.wrapper.bg-yellow.angled.lower-end:after,.wrapper.bg-yellow.angled.upper-end:before {
    border-right-color: #fab758
}

.wrapper.bg-soft-yellow.angled.lower-start:after,.wrapper.bg-soft-yellow.angled.upper-start:before {
    border-left-color: #fffaf2
}

.wrapper.bg-soft-yellow.angled.lower-end:after,.wrapper.bg-soft-yellow.angled.upper-end:before {
    border-right-color: #fffaf2
}

.wrapper.bg-pale-yellow.angled.lower-start:after,.wrapper.bg-pale-yellow.angled.upper-start:before {
    border-left-color: #fef3e4
}

.wrapper.bg-pale-yellow.angled.lower-end:after,.wrapper.bg-pale-yellow.angled.upper-end:before {
    border-right-color: #fef3e4
}

.wrapper.bg-green.angled.lower-start:after,.wrapper.bg-green.angled.upper-start:before {
    border-left-color: #45c4a0
}

.wrapper.bg-green.angled.lower-end:after,.wrapper.bg-green.angled.upper-end:before {
    border-right-color: #45c4a0
}

.wrapper.bg-soft-green.angled.lower-start:after,.wrapper.bg-soft-green.angled.upper-start:before {
    border-left-color: #f1fbf8
}

.wrapper.bg-soft-green.angled.lower-end:after,.wrapper.bg-soft-green.angled.upper-end:before {
    border-right-color: #f1fbf8
}

.wrapper.bg-pale-green.angled.lower-start:after,.wrapper.bg-pale-green.angled.upper-start:before {
    border-left-color: #e1f6f0
}

.wrapper.bg-pale-green.angled.lower-end:after,.wrapper.bg-pale-green.angled.upper-end:before {
    border-right-color: #e1f6f0
}

.wrapper.bg-leaf.angled.lower-start:after,.wrapper.bg-leaf.angled.upper-start:before {
    border-left-color: #7cb798
}

.wrapper.bg-leaf.angled.lower-end:after,.wrapper.bg-leaf.angled.upper-end:before {
    border-right-color: #7cb798
}

.wrapper.bg-soft-leaf.angled.lower-start:after,.wrapper.bg-soft-leaf.angled.upper-start:before {
    border-left-color: #f5faf7
}

.wrapper.bg-soft-leaf.angled.lower-end:after,.wrapper.bg-soft-leaf.angled.upper-end:before {
    border-right-color: #f5faf7
}

.wrapper.bg-pale-leaf.angled.lower-start:after,.wrapper.bg-pale-leaf.angled.upper-start:before {
    border-left-color: #eaf3ef
}

.wrapper.bg-pale-leaf.angled.lower-end:after,.wrapper.bg-pale-leaf.angled.upper-end:before {
    border-right-color: #eaf3ef
}

.wrapper.bg-aqua.angled.lower-start:after,.wrapper.bg-aqua.angled.upper-start:before {
    border-left-color: #54a8c7
}

.wrapper.bg-aqua.angled.lower-end:after,.wrapper.bg-aqua.angled.upper-end:before {
    border-right-color: #54a8c7
}

.wrapper.bg-soft-aqua.angled.lower-start:after,.wrapper.bg-soft-aqua.angled.upper-start:before {
    border-left-color: #f2f8fb
}

.wrapper.bg-soft-aqua.angled.lower-end:after,.wrapper.bg-soft-aqua.angled.upper-end:before {
    border-right-color: #f2f8fb
}

.wrapper.bg-pale-aqua.angled.lower-start:after,.wrapper.bg-pale-aqua.angled.upper-start:before {
    border-left-color: #e4f1f6
}

.wrapper.bg-pale-aqua.angled.lower-end:after,.wrapper.bg-pale-aqua.angled.upper-end:before {
    border-right-color: #e4f1f6
}

.wrapper.bg-navy.angled.lower-start:after,.wrapper.bg-navy.angled.upper-start:before {
    border-left-color: #343f52
}

.wrapper.bg-navy.angled.lower-end:after,.wrapper.bg-navy.angled.upper-end:before {
    border-right-color: #343f52
}

.wrapper.bg-soft-navy.angled.lower-start:after,.wrapper.bg-soft-navy.angled.upper-start:before {
    border-left-color: #f0f1f2
}

.wrapper.bg-soft-navy.angled.lower-end:after,.wrapper.bg-soft-navy.angled.upper-end:before {
    border-right-color: #f0f1f2
}

.wrapper.bg-pale-navy.angled.lower-start:after,.wrapper.bg-pale-navy.angled.upper-start:before {
    border-left-color: #dfe0e3
}

.wrapper.bg-pale-navy.angled.lower-end:after,.wrapper.bg-pale-navy.angled.upper-end:before {
    border-right-color: #dfe0e3
}

.wrapper.bg-ash.angled.lower-start:after,.wrapper.bg-ash.angled.upper-start:before {
    border-left-color: #9499a3
}

.wrapper.bg-ash.angled.lower-end:after,.wrapper.bg-ash.angled.upper-end:before {
    border-right-color: #9499a3
}

.wrapper.bg-soft-ash.angled.lower-start:after,.wrapper.bg-soft-ash.angled.upper-start:before {
    border-left-color: #f7f7f8
}

.wrapper.bg-soft-ash.angled.lower-end:after,.wrapper.bg-soft-ash.angled.upper-end:before {
    border-right-color: #f7f7f8
}

.wrapper.bg-pale-ash.angled.lower-start:after,.wrapper.bg-pale-ash.angled.upper-start:before {
    border-left-color: #eeeff0
}

.wrapper.bg-pale-ash.angled.lower-end:after,.wrapper.bg-pale-ash.angled.upper-end:before {
    border-right-color: #eeeff0
}

.wrapper.bg-white.angled.lower-start:after,.wrapper.bg-white.angled.upper-start:before {
    border-left-color: #fff
}

.wrapper.bg-white.angled.lower-end:after,.wrapper.bg-white.angled.upper-end:before {
    border-right-color: #fff
}

.wrapper.bg-soft-white.angled.lower-start:after,.wrapper.bg-soft-white.angled.upper-start:before {
    border-left-color: #fff
}

.wrapper.bg-soft-white.angled.lower-end:after,.wrapper.bg-soft-white.angled.upper-end:before {
    border-right-color: #fff
}

.wrapper.bg-pale-white.angled.lower-start:after,.wrapper.bg-pale-white.angled.upper-start:before {
    border-left-color: #fff
}

.wrapper.bg-pale-white.angled.lower-end:after,.wrapper.bg-pale-white.angled.upper-end:before {
    border-right-color: #fff
}

.wrapper.bg-light.angled.lower-start:after,.wrapper.bg-light.angled.upper-start:before {
    border-left-color: #fefefe
}

.wrapper.bg-light.angled.lower-end:after,.wrapper.bg-light.angled.upper-end:before {
    border-right-color: #fefefe
}

.wrapper.bg-soft-light.angled.lower-start:after,.wrapper.bg-soft-light.angled.upper-start:before {
    border-left-color: #fff
}

.wrapper.bg-soft-light.angled.lower-end:after,.wrapper.bg-soft-light.angled.upper-end:before {
    border-right-color: #fff
}

.wrapper.bg-pale-light.angled.lower-start:after,.wrapper.bg-pale-light.angled.upper-start:before {
    border-left-color: #fff
}

.wrapper.bg-pale-light.angled.lower-end:after,.wrapper.bg-pale-light.angled.upper-end:before {
    border-right-color: #fff
}

.wrapper.bg-gray.angled.lower-start:after,.wrapper.bg-gray.angled.upper-start:before {
    border-left-color: #f6f7f9
}

.wrapper.bg-gray.angled.lower-end:after,.wrapper.bg-gray.angled.upper-end:before {
    border-right-color: #f6f7f9
}

.wrapper.bg-soft-gray.angled.lower-start:after,.wrapper.bg-soft-gray.angled.upper-start:before {
    border-left-color: #fefeff
}

.wrapper.bg-soft-gray.angled.lower-end:after,.wrapper.bg-soft-gray.angled.upper-end:before {
    border-right-color: #fefeff
}

.wrapper.bg-pale-gray.angled.lower-start:after,.wrapper.bg-pale-gray.angled.upper-start:before {
    border-left-color: #fefefe
}

.wrapper.bg-pale-gray.angled.lower-end:after,.wrapper.bg-pale-gray.angled.upper-end:before {
    border-right-color: #fefefe
}

.wrapper.bg-dark.angled.lower-start:after,.wrapper.bg-dark.angled.upper-start:before {
    border-left-color: #262b32
}

.wrapper.bg-dark.angled.lower-end:after,.wrapper.bg-dark.angled.upper-end:before {
    border-right-color: #262b32
}

.wrapper.bg-soft-dark.angled.lower-start:after,.wrapper.bg-soft-dark.angled.upper-start:before {
    border-left-color: #efeff0
}

.wrapper.bg-soft-dark.angled.lower-end:after,.wrapper.bg-soft-dark.angled.upper-end:before {
    border-right-color: #efeff0
}

.wrapper.bg-pale-dark.angled.lower-start:after,.wrapper.bg-pale-dark.angled.upper-start:before {
    border-left-color: #dcddde
}

.wrapper.bg-pale-dark.angled.lower-end:after,.wrapper.bg-pale-dark.angled.upper-end:before {
    border-right-color: #dcddde
}

.wrapper.bg-primary.angled.lower-start:after,.wrapper.bg-primary.angled.upper-start:before {
    border-left-color: #3f78e0
}

.wrapper.bg-primary.angled.lower-end:after,.wrapper.bg-primary.angled.upper-end:before {
    border-right-color: #3f78e0
}

.wrapper.bg-soft-primary.angled.lower-start:after,.wrapper.bg-soft-primary.angled.upper-start:before {
    border-left-color: #f1f5fd
}

.wrapper.bg-soft-primary.angled.lower-end:after,.wrapper.bg-soft-primary.angled.upper-end:before {
    border-right-color: #f1f5fd
}

.wrapper.bg-pale-primary.angled.lower-start:after,.wrapper.bg-pale-primary.angled.upper-start:before {
    border-left-color: #e0e9fa
}

.wrapper.bg-pale-primary.angled.lower-end:after,.wrapper.bg-pale-primary.angled.upper-end:before {
    border-right-color: #e0e9fa
}

.bg-soft-yellow {
    background-color: #fff8ef!important
}

.text-soft-yellow {
    color: #fff8ef!important
}

.bg-gradient-yellow {
    background: linear-gradient(180deg,#fff8ef,rgba(255,255,255,0) 100%)!important
}

.bg-gradient-reverse-yellow {
    background: linear-gradient(0deg,#fff8ef,rgba(255,255,255,0) 100%)!important
}

.wrapper.bg-soft-yellow.angled.lower-start:after,.wrapper.bg-soft-yellow.angled.upper-start:before {
    border-left-color: #fff8ef!important
}

.wrapper.bg-soft-yellow.angled.lower-end:after,.wrapper.bg-soft-yellow.angled.upper-end:before {
    border-right-color: #fff8ef!important
}

.wrapper.bg-light.angled.lower-start:after, .wrapper.bg-light.angled.upper-start:before {
    border-left-color: #fefefe;
}

.wrapper.angled {
    position: relative;
    border: 0;
}

.btn.btn-circle {
    padding: 0;
    border-radius: 100%!important;
    width: 2.2rem;
    height: 2.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.line-margin {
    line-height: 3rem !important;
    font: 17px THICCCBOIMedium,sans-serif !important;
}
.mt-6 {
    margin-top: 1.5rem!important;
}
@media (min-width: 992px) {
    .me-lg-6 {
        margin-right: 1.5rem !important;
    }
    .ms-lg-13 {
        margin-left: 4rem!important;
    }
}

.bg-navy {
    --bs-bg-opacity: 1;
    background-color: rgba(52, 63, 82,var(--bs-bg-opacity))!important;
}

@media (min-width: 1200px) {
    .display-4 {
        font-size: 1.9rem;
    }
}

.wrapper.bg-light.angled.lower-end:after, .wrapper.bg-light.angled.upper-end:before {
    border-right-color: #fefefe;
}

.wrapper.angled.lower-end:after {
    border-right-color: transparent;
    border-right-width: 100vw;
    border-bottom-width: 4rem;
    bottom: -4rem;
}
.wrapper.angled:after, .wrapper.angled:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 0;
    border: 0 solid transparent;
}

footer p{
    color: #cacaca;
    font: 17px THICCCBOIMedium, sans-serif !important;
}
footer address{
    color: #cacaca;
    font: 17px THICCCBOIMedium, sans-serif !important;
}

footer a{
    color: #cacaca;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

footer a:hover{
    color: #fab758;
}



